.button {
   position: relative;
   padding: 8px;

   span {
      display: block;
      padding: 17px 37px;
      font-family: accent;
      letter-spacing: 3px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 300;
   }

   &__bl-border,
   &__tl-border,
   &__br-border,
   &__tr-border {
      position: absolute;
      width: 20px;
      height: 20px;
      transition: all 0.5s;
   }

   &__bl-border {
      bottom: 0;
      left: 0;
   }

   &__br-border {
      bottom: 0;
      right: 0;
   }

   &__tl-border {
      top: 0;
      left: 0;
   }

   &__tr-border {
      top: 0;
      right: 0;
   }
}

.button:hover .button__bl-border,
.button:hover .button__tl-border,
.button:hover .button__br-border,
.button:hover .button__tr-border {
   width: 12px;
   height: 12px;
}
._button-border {
   span {
      position: relative;
      z-index: 2;
      overflow: hidden;
      border: 2px solid white;
      color: white;
      transition: all 0.3s;
   }

   span::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: white;
      transition: all 0.3s;
   }

   &:hover {
      span::before {
         right: 0;
      }

      span {
         color: $main;
      }
   }

   .button__bl-border {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
   }

   .button__br-border {
      border-right: 2px solid white;
      border-bottom: 2px solid white;
   }

   .button__tl-border {
      border-left: 2px solid white;
      border-top: 2px solid white;
   }

   .button__tr-border {
      border-right: 2px solid white;
      border-top: 2px solid white;
   }
}

._button-blue {
   &:hover span {
      box-shadow: 0 0 50px #1b1ffd6b;
   }

   span {
      border: 2px solid $main;
      color: white;
      background-color: $main;
      transition: all 0.3s;
   }

   .button__bl-border {
      border-left: 2px solid $main;
      border-bottom: 2px solid $main;
   }

   .button__br-border {
      border-right: 2px solid $main;
      border-bottom: 2px solid $main;
   }

   .button__tl-border {
      border-left: 2px solid $main;
      border-top: 2px solid $main;
   }

   .button__tr-border {
      border-right: 2px solid $main;
      border-top: 2px solid $main;
   }
}
